## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
aux
out


## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
*.rubbercache
rubber.cache


## beamer
*.nav
*.pre
*.snm
*.vrb


## python temporary files/venv
.venv
__pycache__
.ipynb_checkpoints


nn_image/nn_image_conv/data/oxford-iiit-pet
nn_image/nn_image_conv/data/cifar-10-batches-py
nn_image/gan/data
nn_image/gan/gan_samples
nn_image/gan/discriminator.pth
nn_image/gan/generator.pth
